/* TABLA */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #D1D4D7;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #D1D4D7;
    border: 1px solid #D1D4D7;
    padding: 0.75em;
    vertical-align: top;
    border-top: 1px solid #D1D4D7;
}
.table td {
    padding: 0.55em;
    vertical-align: top;
    border-top: 1px solid #D1D4D7;
    border: 1px solid #D1D4D7;
    text-align: center;
}

.table tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table tr td a i{
    transition: all .3s;
}

.table tr td a i:hover{
    color:#2A2C36;
}